{% extends "page.html" %}

{% block head %}
<title>Nathan Gill</title>
<script src="/static/tealfm.js"></script>
{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 1em;">
    <img src="/static/avatar.jpg" width="250" height="250" alt="My Profile Picture">

    <h1 style="font-size: 1.84rem; margin: 0;">Nathan Gill</h1>
    <h2 style="margin-top: 0;">OldUser101</h2>

    <div style="padding-top: 1.5em; padding-bottom: 1.5em;">
        <p style="margin-bottom: 0;">
            I'm a student who: writes code; breaks computers; and does other
            "cool things".
        </p>
        <p style="margin-top: 0;">Take a look for yourself.</p>
        <a href="/about/index.html">More about me &rarr;</a>
    </div>

    <div id="badges">
        <a class="badge" href="https://jj-vcs.dev">
            <img src="/static/gifs/built_with_jj.gif">
        </a>

        <img class="badge" src="/static/gifs/gnu_linux.gif">

        <a class="badge" href="https://www.firefox.com">
            <img src="/static/gifs/tested_on_firefox.gif">
        </a>
    </div>

    <div id="playing-box">
        <p style="font-weight: bold;">Listening to:</p>
        <div id="playing-status"></div>
    </div>

    <p style="margin-bottom: 0;"><strong>Other Sites</strong></p>
    <div>
        <a href="https://git.ngill.net/cgit">Personal Git Server</a>
    </div>
    <div>
        <a href="https://asmsim.ngill.net">AQA Assembly Language Simulator</a>
    </div>
    <div>
        <a href="https://mastermind.ngill.net">Mastermind Game</a>
    </div>
    <div style="margin-bottom: 1em;">
        <a href="https://archive.ngill.net">Site Archives</a>
    </div>
</div>
{% endblock %}
