{% extends "base.html" %}

{% block head %}
<title>{% if meta.title is not none %} {{ meta.title }} | {% endif %} {{ site.title }}</title>
{% if meta.summary is not none %}
    <meta name="description" content="{{ meta.summary }}">
{% endif %}
{% block standard_site %} {% endblock %}
{% endblock %}

{% block page %}
<header>
    <a href="/index.html">home</a>
    <a href="/about/index.html">about</a>
    <a href="/blog/index.html">blog</a>
    <a href="/contact/index.html">contact</a>
</header>
<div id="content">
    {% if meta.template == "page.html" %}
        {{ content | safe }}
    {% endif %}

    {% block content %}{% endblock %}
</div>
<footer>
    <a href="/index.html">home</a>
    <a href="/about/index.html">about</a>
    <a href="/blog/index.html">blog</a>
    <a href="/now/index.html">now</a>
    <a href="/uses/index.html">uses</a>
    <a href="/contact/index.html">contact</a>
    <a href="/rss.xml">rss</a>

    <p>
        Copyright &copy 2026, Nathan Gill<br>
        Licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    </p>
</footer>
{% endblock %}
